{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_customcert/issuedcertificates_page

    Print the issued certificates page.

    Example context (json):
    {
        "certificates": [{
            "id": "123",
            "cmid": "1234",
            "code": "Qwert123",
            "coursename": "The course fullname",
            "name": "Certificate name",
            "category": "The course category",
            "grade": 9.00,
            "timecreated": "The certificate issue date formated"
        }]
    }
}}
<table class="table table-striped generaltable table-hover">
    <thead>
    <tr>
        <th>{{#str}} course, core {{/str}}</th>
        <th>{{#str}} category, block_customcert {{/str}}</th>
        <th>{{#str}} grade, core {{/str}}</th>
        <th>{{#str}} date_issued, block_customcert {{/str}}</th>
        <th>{{#str}} download, block_customcert {{/str}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#certificates}}
        <tr>
            <td>{{{coursename}}}</td>
            <td>{{{category}}}</td>
            <td>{{{grade}}}{{^grade}}-{{/grade}}</td>
            <td>{{{timecreated}}}</td>
            <td>
                <form method="post" action="{{{config.wwwroot}}}/mod/customcert/view.php">
                    <input type="hidden" name="id" value="{{{cmid}}}">
                    <input type="hidden" name="action" value="download">
                    <input type="hidden" name="sesskey" value="{{{config.sesskey}}}">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i> {{#str}} download, block_customcert {{/str}}</button>
                </form>
            </td>
        </tr>
    {{/certificates}}
    </tbody>
</table>

{{^certificates}}
    {{#str}} nocertificates, block_customcert {{/str}}
{{/certificates}}
